.activity-card{
    height: 10rem;
    background-color: #edf0f1;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 15%;
}

.add div{
    display: block;
    padding: 0;
    line-height: 10rem;
    color: #bec1c2;
    font-size: 6rem;
    font-weight: 300;
}

.activity-card p{
    padding-top: 0.3rem;
}

.activity-card h3{
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

#stars::after{
    font-family: fontAwesome;
    content: '\f005';
    color: rgb(0, 8, 51);
    padding: 0.2rem;
}

.stars-container{
    display: flex;
    flex-direction: row;
}

.selection{
    background-color: red;
}