*{
    color: white;
}

.paging-container{
    display: flex;
    flex-direction: row;
}

.page{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    padding: 0.7;
    margin: 0.3rem;
    border-radius: 0.4rem;
    background-color: #edf0f150;
}
.page:hover{
    cursor: pointer;
}