.search-bar{
    width: 100%;
    height: 3rem;
    max-width: 30%;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 2rem;
    padding: 1.5rem 1rem;
}

input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 16px;
    color: #edf0f1;
}
input::placeholder{
    color: #edf0f1;
}

.icon{
    text-align: center;
    font-size: 1.2rem;
    border: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #edf0f1;
}

.icon:hover{
    cursor: pointer;
}
