.grid-container{
    height: 100%;
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: auto 7.5rem;
    grid-template-areas: "a b c" "a d e";
    margin: 0;
}

.filters{
    grid-area: a;
    z-index: 1;
}

.cards{
    padding-top: 1.5rem;
    color:#edf0f1;
    grid-area: b;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    min-height: 50rem;
}

.paging{
    margin-top: 0.5rem;
    grid-area: d;
    display: flex;
    align-items: center;
    justify-content: center;
}