*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 8, 51);
    padding: 1rem 10%;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 3rem;
    color: #edf0f1;
}